*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ef5350;
  --secondary-color: #ebf5f0;
  --accent-color: #feca1b;
  --link-color: #1d9bf0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

a { 
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: var(--link-color);
  font-weight: bold;
}

section#busqueda {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

section#busqueda input,
section#busqueda button {
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 2.5em;
  max-height: 2.5em;
}

section#busqueda input {
  padding-left: 10px;
  flex-basis: 80%;
  border: none;
}

section#busqueda input:focus {
  outline: none;
  border: 2px solid var(--link-color);
}

section#busqueda button {
  flex-basis: 20%;
  border: none;
  text-shadow: none;
  color: white;
  background-color: var(--primary-color);
}

header {
  text-align: center;
  color: var(--accent-color);
  text-shadow: 9px 3px #3761a8;
  font-size: 4rem;
  transform: rotate(-3.6deg);
  margin-top: 1.25em;
}

section {
  margin: 5em 0;
  min-height: 300px;
}

main .container {
  margin-top: 2.5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  height: 50px;
  max-height: 50px;
  color: #fff;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
}